* {
    transition: 0.5 ease-in-out;
}

body {
    background-color: #ffffe0;
    color: #00001f;
    text-align: left;
    font-family: monospace;
    margin: 0;

}

h1 {
    font-size: 40px;
    font-weight: 100;
    margin-left: 20px;
    transition: all 0.2s ease-in-out;
}

h1 b {
    font-weight: 900;
}

h1:hover {
    animation: animazione_h1 1s;
}

@keyframes animazione_h1 {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    20% {
        transform: translateX(-20px) translateY(-20px);
    }

    40% {
        transform: translateX(20px) translateY(-20px);
    }

    60% {
        transform: translateX(20px) translateY(20px);
    }

    80% {
        transform: translateX(-20px) translateY(20px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

h1 r {
    font-size: 20px;
    margin-left: 15px;
    font-weight: 500;
}

div {
    height: 300px;
    border-top: 2px solid #00001f66;
    border-bottom: 2px solid #00001f66;
    width: 80%;
    margin-left: 10%;

    /* Nasconde la barra di scorrimento */
    scrollbar-width: none;
    /* Nascondere la barra di scorrimento su FireFox*/
    overflow-y: scroll;
    /* Abilita lo scorrimento fluido su iOS */
    -webkit-overflow-scrolling: touch;
}

/* Nasconde la barra di scorrimento su Chrome, Safari e Edge */
div::-webkit-scrollbar {
    display: none;
}

div a {
    width: 100%;
    color: black;
    text-decoration: none;
    padding: 5px;
    border-left: 3px solid transparent;
    transition: all 0.2s ease-in-out;
}

div a:hover {
    text-decoration: underline;
    background-color: #e0e0af;
    border-left: 3px solid darkgoldenrod;
}

div hr {
    border: 1px solid #00001f66;
}

footer {
    position: absolute;
    position: fixed;

    bottom: 0;
    width: 100%;

    display: flex;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 11px;
    padding-bottom: 15px;
    background-color: #ffffe0;
    padding-top: 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer .sinistra {
    width: 50%;
    text-align: left;
    font-size: 18px;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
}

footer .destra {
    width: 50%;
    text-align: right;
    font-size: 18px;
    padding-right: 20px;
}

article {
    width: 80%;
    margin-left: 10%;
    height: 470px;

    /* Nasconde la barra di scorrimento */
    scrollbar-width: none;
    /* Nascondere la barra di scorrimento su FireFox*/
    overflow-y: scroll;
    /* Abilita lo scorrimento fluido su iOS */
    -webkit-overflow-scrolling: touch;

    position: relative;
}

/* Nasconde la barra di scorrimento su Chrome, Safari e Edge */
article::-webkit-scrollbar {
    display: none;
}

article h2 {
    font-size: 23px;
    font-weight: 600;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

article p {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    font-weight: 300;
}

article p a {
    color: #00001f;

}

form {
    margin: 0;
    padding: 0;
}

#label_mail {
    color: darkgoldenrod;
    position: absolute;
    top: 49px;
    left: 20px;
    background-color: #ffffe0;
    /* Colore di sfondo per nascondere il bordo */
    padding: 0 3px;
    /* Spazio attorno al testo */
    font-size: 10px;
    display: none;
}

#label_testo {
    color: darkgoldenrod;
    position: absolute;
    top: 109px;
    left: 20px;
    background-color: #ffffe0;
    /* Colore di sfondo per nascondere il bordo */
    padding: 0 3px;
    /* Spazio attorno al testo */
    font-size: 10px;
    display: none;
}

article input {
    margin: 0;
    width: 92%;
    font-size: 15px;

    appearance: none;
    /* Disabilita lo stile di default */
    -webkit-appearance: none;
    /* Per i browser WebKit */
    -moz-appearance: none;
    /* Per Firefox */
    outline: none;
    /* toglie il bordo nel focus*/

    background-color: #ffffe0;
    border: 3px solid #00001f31;
    border-radius: 3px;

    margin-top: 0px;
    padding: 10px;
    transition: 0.3 ease-in-out;
}

article textarea {
    margin: 0;
    width: 92%;
    font-size: 15px;
    outline: none;
    background-color: #ffffe0;
    border: 3px solid #00001f31;
    border-radius: 3px;

    margin-top: 0px;
    padding: 10px;
    transition: 0.3 ease-in-out;
    max-width: 92%;
    min-width: 92%;

    min-height: 150px;
    height: 150px;
}


textarea::placeholder {
    color: #cece9e91;
    opacity: 1;
}

input::placeholder {
    color: #cece9e91;
    opacity: 1;
}

/* Stile per il focus */
input:focus {
    border: 3px solid darkgoldenrod;
}

textarea:focus {
    border: 3px solid darkgoldenrod;
}

button {
    background-color: #00001f31;
    color: #ffffe0;
    width: 80%;
    margin-left: 10%;
    border-radius: 4px;
    border: 0px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
}

button:hover {
    background-color: #00001f66;
    color: #ffffff;
}

button:focus {
    background-color: #0f8c2cc7;
}

article t {
    margin-top: 2px;
    font-weight: 100;
    opacity: 20%;
    font-size: 10px;
}

/*  Date  */

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: #e0e0af;
    border-bottom: 3px solid darkgoldenrod;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

nav .sinistra {
    width: 28%;
    text-align: left;
    padding-left: 20px;
}

nav .centro {
    width: 33%;
    text-align: center;
}

nav .destra {
    width: 20%;
    text-align: right;

}

nav .destra_destra {
    width: 2%;
    text-align: right;
    margin-right: 10px;
    margin-left: 15px;
}

.span {
    width: 90%;
    margin-left: 5%;
    height: 550px;
}

.span p {
    text-align: center;
    border: 1px solid #ffffe0;
    border-bottom: 0px;
    font-weight: 800;
    background-color: darkgoldenrod !important;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #dddd9b;
}

td {
    width: 50%;
    /* colore bordi */
    border: 2px solid #ffffe0;
    padding: 5px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e0e0af;
}